<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('.././partials/head.ejs') %>

        <link rel="stylesheet" href="/css/wiki-page.css" />

        <script type="text/javascript" src="/js/spoiler.js"></script>
        <title>Chester - Wiki</title>
        <link rel="icon" href="/img/chester_logo.png">
</head>

<body>

    <%- include('.././partials/navigation.ejs') %>

        <div id="title">
            <img src="/img/bm_icon.png" alt="icon">
            <h1>BlackMarket</h1>
            <h2>BlackMarket allows you to offer your items for a certain time, after it is, the item will be returned to
                you if no
                one bought it. It is fully customizable.</h2>
        </div>

        <section>
            <div class="content">
                <div id="index">
                    <h3>BlackMarket Guide</h3>
                    <p>» Here you can find all the information about the plugin and its settings. If you find any error, 
                        do not hesitate to mention it in my discord <a
                            href="https://discordapp.com/channels/@Demon/4531/" target="_blank">Demon#4531</a></p>
                    <img src="/img/market.png"></img>
                    <ul>
                        <li><a href="#commands">Commands</a></li>
                        <li><a href="#permissions">Permissions</a></li>
                        <li><a href="#sell">Sell items</a></li>
                        <li><a href="#menus">Menus</a></li>
                        <li><a href="#npc">NPC</a></li>
                        <li><a href="#config">Configuration</a></li>
                        <li><a href="#languages">Languages</a></li>
                    </ul>
                </div>
                <div id="commands">
                    <h4>Commands</h4>
                </div>
                <div id="permissions">
                    <h4>Permissions</h4>
                </div>
                <div id="sell">
                    <h4>Sell</h4>
                </div>
                <div id="menus">
                    <h4>Menus</h4>
                </div>
                <div id="npc">
                    <h4>NPC</h4>
                </div>
                <div id="config">
                    <h4>Config</h4>
                </div>
                <div id="languages">
                    <h4>Languages</h4>
                </div>
            </div>
        </section>
</body>

</html>