<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('.././partials/head.ejs') %>

        <link rel="stylesheet" href="/css/wiki-page.css" />

        <script type="text/javascript" src="/js/spoiler.js"></script>
        <title>Chester - Wiki</title>
        <link rel="icon" href="/img/chester_logo.png">
</head>

<body>

    <%- include('.././partials/navigation.ejs') %>

        <div id="title">
            <img src="/img/chester_logo.png" alt="icon">
            <h1>Chester</h1>
            <h2>A chest that follows you and picks up your dropped items. He has 7 default slots for saving your items,
                and you can buy more slots for a low price.</h2>
        </div>

        <section>
            <div class="content">
                <div id="index">
                    <h3>Chester Guide</h3>
                    <p>» Here you can find all the information about the plugin and its settings. If you find any error,
                        do not hesitate to mention it in my discord <a
                            href="https://discordapp.com/channels/@Demon/4531/" target="_blank">Demon#4531</a></p>
                    <img src="/img/chester.png"></img>
                    <ul>
                        <li><a href="#commands">Commands</a></li>
                        <li><a href="#permissions">Permissions</a></li>
                        <li><a href="#slots">Slots</a></li>
                        <li><a href="#custom_name">Custom name</a></li>
                        <li><a href="#statistics">Statistics</a></li>
                        <li><a href="#perks">Perks</a></li>
                        <li><a href="#chester_type">Chester type</a></li>
                        <li><a href="#languages">Languages</a></li>
                    </ul>
                </div>
            </div>
        </section>
        </div>
</body>

</html>