<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('.././partials/head.ejs') %>

        <link rel="stylesheet" href="/css/wiki-page.css" />

        <script type="text/javascript" src="/js/spoiler.js"></script>
        <title>BlackMarket - Wiki</title>
        <link rel="icon" href="/img/bm_icon.png">
</head>

<body>

    <%- include('.././partials/navigation.ejs') %>

        <div id="title">
            <img src="/img/bm_icon.png" alt="icon">
            <h1>BlackMarket</h1>
            <h2>BlackMarket allows you to offer your items for a certain time, after it is, the item will be returned to
                you if no
                one bought it. It is fully customizable.</h2>
        </div>

        <section>
            <div class="content">
                <div id="index">
                    <h3>BlackMarket Guide</h3>
                    <p>» Here you can find all the information about the plugin and its settings. If you find any error, 
                        do not hesitate to mention it in my discord <a
                            href="https://discordapp.com/channels/@Demon/4531/" target="_blank">Demon#4531</a></p>
                    <img src="/img/market.png"></img>
                    <ul>
                        <li><a href="#commands">Commands</a></li>
                        <li><a href="#permissions">Permissions</a></li>
                        <li><a href="#sell">Sell items</a></li>
                        <li><a href="#menus">Menus</a></li>
                        <li><a href="#npc">NPC</a></li>
                        <li><a href="#config">Configuration</a></li>
                        <li><a href="#languages">Languages</a></li>
                    </ul>
                </div>
                <div id="commands">
                    <h4>Commands</h4>
                    <ul>
                        <li><code>/bm sell [value]</code> - <i>Sell a item</i></li>
                        <li><code>/bm reload</code> - <i>Reload config</i></li>
                        <li><code>/bm setnpc (skin_name)</code> - <i>Set a NPC</i></li>
                        <li><code>/bm removenpc</code> - <i>Remove a NPC</i></li>
                        <li><code>/bm open</code> - <i>Open the BlackMarket</i></li>
                    </ul>
                </div>
                <div id="permissions">
                    <h4>Permissions</h4>
                    <ul>
                        <li><code>blackmarket.admin</code> - <i>Allow use all commands</i></li>
                        <li><code>blackmarket.open</code> - <i>Allow use open command</i></li>
                        <li><code>blackmarket.reload</code> - <i>Allow use reload command</i></li>
                        <li><code>blackmarket.npc</code> - <i>Allow use setnpc and removenpc commands</i></li>
                        <li><code>blackmarket.setnpc</code> - <i>Allow use setnpc command</i></li>
                        <li><code>blackmarket.removenpc</code> - <i>Allow use removenpc command</i></li>
                        <li><code>blackmarket.limit</code> - <i>Unlimited items in sell</i></li>
                        <li><code>blackmarket.limit[number]</code> - <i>Limited items in sell</i></li>
                    </ul>
                </div>
                <div id="sell">
                    <h4>Sell</h4>
                    <img src="/img/market.png"></img>
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusantium maxime iusto commodi id exercitationem optio officiis veniam mollitia molestias iure laudantium quasi facere, quo, beatae perspiciatis repellendus? Eaque, soluta totam?</p>
                </div>
                <div id="menus">
                    <h4>Menus</h4>
                    <img src="/img/blackmarket/storage.png"></img>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum perspiciatis, consectetur nesciunt nisi cum necessitatibus.</p>
                </div>
                <div id="npc">
                    <h4>NPC</h4>
                    <img src="/img/market.png"></img>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit voluptates similique natus, eius quod nemo?</p>
                </div>
                <div id="config">
                    <h4>Config</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque minima nemo libero facilis asperiores. Ut.</p>
                </div>
                <div id="languages">
                    <h4>Languages</h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque minima nemo libero facilis asperiores. Ut.</p>
                </div>
            </div>
        </section>
</body>

</html>