.form {
    box-shadow: 0 5px 8px 0 #00000033, 0 9px 26px 0 #00000030;
    background-color: white;
    border-radius: 10px;
    padding: 30px 20px 80px 20px;
}

.form h1 {
    margin-bottom: 10px;
}

.form .submit {
    font-weight: 600;
    color: #fff;
    background-color: #0062cc;
    text-decoration: none;
    text-align: center;
    margin-top: 10px;
    
    cursor: pointer;
    width: 49%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    font: 400 13.3333px Arial;
}

.form #title {
    margin-top: 0;
}

.form-group {
    padding-bottom: 10px;
}

.form-control {
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font: 400 13.3333px Arial;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    appearance: none;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    box-sizing: border-box;
    cursor: text;
}

.forget {
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    font-size: 1rem;
}

.form h3 {
    text-align: center;
    color: #333;
    padding-bottom: 40px;
    font-size: 1.75rem;
    font-weight: 500;
}

section {
    width: 480px;
    margin-top: 50px;
}

/*
  Responsive
*/

@media all and (max-width: 1200px){
    section {
        max-width: 85vw;
    }
}

.btn {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: white;
}

.btn-primary {background-color:#0d6efd;}
.btn-secondary {background-color: #6c757d;}