:root{
    --background: #d4d3d32a;
    --content: #ffffffda;
    --border: 1px solid gray;
}

#profile {
    display: grid;
    grid-template-columns: 184px auto;
    grid-template-rows: auto 50px auto;
    grid-template-areas: "avatar lore"
                         "user activity"
                         "info activity";
    margin: 0 auto;
    padding: 15px;
    width: 1170px;
    gap: 10px;
    background-color: var(--background);
    border-radius: 5px;
}

#profile p {
    margin: 0;
}

#profile > #avatar {
    grid-area: avatar;
    min-width: 184px;
    max-width: 184px;
    border: var(--border);
}

#profile > #lore {
    grid-area: lore;
}

#lore {
    padding: 15px;
    border: var(--border);
    border-radius: 5px;
    background-color: var(--content);
    word-break: break-all;
}

#profile > #user {
    grid-area: user;
    text-align: center;
}

#user p {
    border: var(--border);
    border-radius: 5px;
    background-color: var(--content);
    margin-bottom: 3px;
}

#profile > #activity {
    grid-area: activity;
    border: var(--border);
    border-radius: 5px;
    background-color: var(--content);
    word-break: break-all;
}

#activity h1 {
    padding-left: 30px;
}

#activity li {
    padding: 15px 0;
    list-style: none;
}

#profile > #info {
    grid-area: info;
}

#info ul {
    border: var(--border);
    border-radius: 5px;
    background-color: var(--content);
    list-style: none;
    padding: 5px 10px;
}

/*
  Responsive
*/

@media all and (max-width: 1200px){
    #profile {
        max-width: 100vw;
    }
}

@media all and (max-width: 600px){
    #profile{
        grid-template-columns: auto;
        column-gap: 0;
    }
    #avatar, #user, #info {
        display: none;
    }
}