* {
    margin: 0%;
    padding: 0%;
    border: none;
}

body {
    background-image: url("/img/background.jpg");
    background-attachment: fixed;
}

body::-webkit-scrollbar {
    display: none;
}

#title {
    margin: 15px 0 0 0;
}

#title img{
    width: 75px;
    margin-left: calc(50vw - 75px/2);
}

#title h1 {
    font-size: 40px;
    color: white;
    text-align: center;
}

#title h2 {
    color: white;
    font: normal normal normal 28px/35px "title",cursive;
    text-align: center;
}

section {
    display: grid;
    background: none;
}

.content {
    display: block;
    border: 1px #b4b4b4 solid;
    color: white;
    position: relative;
}

.content img {
    float: left;
}

.content h2 {
    color: inherit;
    font: normal normal normal 28px/35px "title",cursive;
}

.content p {
    color: inherit;
    font-family: "desc";
    word-break: break-word;
    vertical-align: baseline;
    text-overflow: ellipsis;
    overflow: hidden;
}

.content a {
    color: inherit;
    text-decoration: none;
}

.content a:hover {
    color: #82ecb2;
}

.content .settings {
    display: inline;
    float: right;
    bottom: 15px;
    right: 15px;
    position: absolute;
}

.content .settings form {
    display: inherit;
    float: inherit;
    margin-left: 5px;
    bottom: inherit;
}

.content .settings form button {
    background-color: #82ecb2;
    bottom: inherit;
}

@font-face{
    font-family: "desc";
    src: url("/fonts/opensans-regular-webfont.woff");
}

@font-face{
    font-family: "desc italic";
    src: url("/fonts/opensans-italic-webfont.woff");
    font-style: italic;
}

@font-face{
    font-family: "desc bold";
    src: url("/fonts/opensans-bold-webfont.woff");
    font-style: oblique;
}

@font-face{
    font-family: "title";
    src: url("/fonts/TUZyzwprpvBS1izr_vOECuSf.woff2");
}

/*
  Responsive
*/

@media only screen and (max-width: 900px){

    #title h2 {
        padding: 25px 2px;
    }

    .content {
        margin: 5px 0px;
    }
    
    .content img {
        margin-right: 0;
        width: 100%;
    }

    .content h2 {
        padding: 25px 35px 25px 25px;
    }
    
    .content p {
        padding: 15px 35px 20px 25px;
    }

    .content .content-desc {
        padding: 15px 35px 0 25px;
    }
}

@media only screen and (min-width: 900px){

    #title h2 {
        padding: 25px 0;
    }

    .content {
        border: 1px #b4b4b4 solid;
        margin: 10px 0px;
    }

    .content img {
        width: 450px;
        margin-right: 25px;
    }

    .content h2 {
        padding: 25px 35px 25px 0px;
    }
    
    .content p {
        padding: 15px 35px 0px 0px;
    }

    .content .content-desc {
        padding: 15px 35px 0 0;
    }
}