<nav class="navbar navbar-disable" id="navbar">
    <ul class="navbar-nav">
        <li class="logo"><a class="nav-link"><img src="/img/menu.png" class="navbar-icon" onclick="showMenu()"></a></li>
        <li class="nav-item"><a class="nav-link" href="https://github.com/MinecraftDorado" target="_blank">GitHub</img></a></li>
        <li class="nav-item"><a class="nav-link" href="https://discord.gg/gBd9SYUHba" target="_blank">Support</a></li>
        <li class="nav-item"><a class="nav-link" href="https://paypal.me/minecraftdorado?locale.x=es_XC" target="_blank">Donate</a></li>
    </ul>
</nav>

<script type="text/javascript" src="/js/navbar.js"></script>