<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%- include('.././partials/head.ejs') %>
  <link rel="stylesheet" href="/css/modify-update.css" />
  <title><%- update.title %></title>
</head>
<body>
  <section class="form">
    <h1>Edit Update</h1>
    <form action="/update/<%= update.id %>?_method=PUT" method="POST">
      <%- include('_form_fields') %>
    </form>
  </section>
</body>
</html>